<!--div class="container" id="form-container">
    <div class="container" id="form login">
      <div class="row" >
        <div class="col-lg-6 col-12 mx-auto">
          <div class="p-5 bg-white rounded shadow-lg">
            <h3 class="mb-2 text-center pt-5" id="'title">Login</h3>
            <form class="form-group">
              <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
              <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
              <div class="form-group">
                <label for="email" class="input-container">Email :</label>
                <input type="email" class="form-control" id="email" class="input" [(ngModel)]=" userauth.email" placeholder="Enter Email"
                  name="email"  ngModel required>
              </div>
              <div class="form-group" >
                <label for="pwd" class="input-container">Password:</label>
                <input type="password" class="form-control" class="input" [(ngModel)]=" userauth.password" id="password" placeholder="Enter password"
                  name="password"  ngModel required>
                  
              </div>
              <br>
              <button (click)=Login() class="btn btn-success">Login</button>
              <a [routerLink]="['/register']" class="link">Pas encore membre ? Inscrivez-vous ici</a>
            </form>
                   
          </div>        
        </div>
      </div>
    </div>
  </div-->
  <div class="container">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
  <div class="logreg-box">
    <div class="box">
      <form action="#">
        <h2>Connexion</h2>
        <div class="input-box">
          <span class="icon"><i class='bx bxs-envelope'></i></span>
          <input type="email" [(ngModel)]=" userauth.email" 
                  name="email"  ngModel required>
          <label>Email</label>
        </div>
        <div class="input-box">
          <span class="icon"><i class='bx bxs-lock-alt'></i></span>
          <input type="password" [(ngModel)]=" userauth.password" 
                  name="password"  ngModel required>
          <label>Password</label>
        </div>
        <button type="submit" (click)=Login() class="btn">Connecter</button>
        <div class="login-register">
        <a  [routerLink]="['/register']">Pas encore membre ? Inscrivez-vous ici</a></div>
      </form>
    </div>
  </div>
</div>